/* This is for the login page to center the login box */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Peoples data page */
.Peoples-Data-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Peoples Details page */
.Home-button {
    margin: 1em;
    margin-bottom: 0;
    padding: .5em;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.Home-button:hover {
    background-color: blue;
    color: white;
}
.Data-Buttons {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    width: 100%
}
.Data-Buttons button {
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
    border-style: none;
    color: white;
    background: brown;
}
.Data-Buttons button:hover {
    background-color: #de9848;
}

